.card {
    background: #84A98C;
    padding: .5rem;
    border: 1px outset #2F3E46;
    border-radius: .4rem;
    width: 20vw;
    margin: auto;
    margin-top: 70px;
    box-shadow: 0 15px 70px 0 #84A98C;
    transition: 0.3s;
  }

  .cardheader {
    margin-bottom: .1rem;
    font-size: 0.8rem;
    color: #2F3E46;
  }
  
  .cardfooter {
    margin-top: .1rem;
    color: #354F52;
  }

  img {
    width: 100%;
    height: 15vw;
    object-fit: scale-down;
  }

  .skeletonImg {
    width: 100%;
    height: 15vw;
    background-color: #b0c4b1;
    border-radius: 4px;
    padding: 10%, 0;
    margin-bottom: 0.6rem;
  }
  
  .skeletonText {
    width: 60%;
    height: 0.5rem;
    background-color: #b0c4b1;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    padding: 0.3rem 0;
  }

  .skeletonTitle {
    width: 60%;
    height: 2rem;
    background-color: #b0c4b1;
    border-radius: 4px;
    margin-bottom: 0.8rem;
    padding: 0.5rem 0;
  }
 