.container {
    margin-top: 70px;
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 60px;
}

select {
    background-color: #2F3E46;
    color: #CAD2C5;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #84A98C;
    transition-duration: 0.4s;
    cursor: pointer;
}

button {
    background-color: #2F3E46;
    color: #CAD2C5;
    padding: 6px 14px;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #84A98C;
    transition-duration: 0.4s;
    cursor: pointer;
}