/* input[type=text] {
    background-color: white;
    background-image: url('https://e7.pngegg.com/pngimages/825/205/png-clipart-magnifying-glass-illustration-computer-icons-web-search-engine-website-search-simple-monochrome-black-and-white-thumbnail.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 1s ease-in-out;
    border-radius: 4px;
  }

  input[type=text]:focus {
    border: 3px solid #555;
    width: 50%;
  } */
input {
    color: black;
    background-color: rgb(245, 250, 248);
    width: 20vw;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
    padding: 6px 10px;
    margin: 8px 0;
    border: 2px solid #84A98C;
    border-radius: 4px;
    outline: none;
}
input:focus {
    background-color: #e2e7e0; 
    width: 30vw;
}
